*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  display:flex;
  flex-direction: column;
  overflow:hidden;
}

.app__body {
  display:flex;
  height: 100%;
}